.inputBox {
    padding: 10px;
    text-align: center;
    align-items: center;
    margin: 30px 40%;
    width: 300px;
    display: block;
    border: 2px solid orange;
}

.btnSubmit {
    padding: 10px;
    text-align: center;
    align-items: center;
    margin: 30px 49%;
    display: block;
    border-radius: 10px;
}

.btnSubmit:hover{
    font-weight: bolder;
    background-color: lightgray;
}

.h1{
    text-align: center;
    align-items: center;
}